%h3
  Editar Alquiler
.availability_container
  = render "availability", availables: @availables
= form_for @alquiler, method: :put do |f|
  .row
    = render "form", f: f
  = f.submit "Guardar", :class => "btn btn-primary", :disable_with => "Guardando..."