%h3
  Listado de Alquileres

.pull-right  
  =label_tag "Buscar por fecha: "
  =text_field_tag :search,"", :class => "datepicker"

#alquiler_list_container
  = render "alquiler_list", alquilers: @alquilers

= link_to "Nuevo Alquiler", new_alquiler_path, :class => "btn btn-primary"

:javascript
  $(function(){

    $(".datepicker").datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd",
      onSelect: function(dateText,inst){

        $.ajax({
          url: "/search",
          type: "GET",          
          data: {'selected_date' : dateText}
        })

      }
    });


  });
