%h3
  Nuevo Alquiler
#availability_container.availability_container
  = render "availability", availables: @availables
= form_for @alquiler, :class => "well"  do |f|
  .row
    = render "form", f: f

  = f.submit "Guardar", :class => "btn btn-primary"